<p-panel header="Nova Oportunidade">
    <div class="grid">
        <div class="col-2">Nome do Prospecto</div>
        <div class="col-10">
            <input type="text" pInputText [(ngModel)]="oportunidade.nomeProspecto"/>
        </div>
        <div class="col-2">Descrição</div>
        <div class="col-10">
            <input type="text" pInputText [(ngModel)]="oportunidade.descricao"/>
        </div>
        <div class="col-2">Valor</div>
        <div class="col-10">
            <input type="text" pInputText [(ngModel)]="oportunidade.valor" />
        </div>
        <div class="col-10 col-offset-2">
            <button pButton icon="pi pi-plus" label="Adicionar" type="submit" (click)="adicionar()"></button>
        </div>
    </div>
</p-panel>

<p-table [value]="oportunidades">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>PROSPECTO</th>
            <th>DESCRIÇÃO</th>
            <th>VALOR</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-oportunidade>
        <tr>
            <td>{{oportunidade.id}}</td>
            <td>{{oportunidade.nomeProspecto}}</td>
            <td>{{oportunidade.descricao}}</td>
            <td>{{oportunidade.valor}}</td>
        </tr>
    </ng-template>
</p-table>

<p-toast></p-toast>