<p-panel header="Oportunidade">
    <div class="grid">
        <div class="col-2">Nome do Prospecto</div>
        <div class="col-10">
            <input type="text" pInputText [(ngModel)]="oportunidade.nomeProspecto"/>
        </div>
        <div class="col-2">Descrição</div>
        <div class="col-10">
            <input type="text" pInputText [(ngModel)]="oportunidade.descricao"/>
        </div>
        <div class="col-2">Valor</div>
        <div class="col-10">
            <input type="text" pInputText [(ngModel)]="oportunidade.valor" />
        </div>
        <div class="col-10 col-offset-2">
            <button pButton icon="pi pi-save" label="Salvar" type="submit" (click)="salvar()" style="margin-right: 5px;" ></button>
            <button pButton icon="pi pi-eraser" label="Limpar" type="submit" (click)="limpar()"></button>
        </div>
    </div>
</p-panel>

<p-table [value]="oportunidades">
    <ng-template pTemplate="header">
        <tr>
            <!--<th>ID</th>-->
            <th>Prospecto</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-oportunidade>
        <tr>
            <!--<td>{{oportunidade.id}}</td>-->
            <td>{{oportunidade.nomeProspecto}}</td>
            <td>{{oportunidade.descricao}}</td>
            <td>{{oportunidade.valor | currency : 'BRL'}}</td>
            <td>
                <button pButton icon="pi pi-file-edit" label="Alterar" title="Alterar oportunidade" class="p-button-success" type="button" (click)="alterar(oportunidade)" style="margin-right: 5px;"></button>
                <button pButton icon="pi pi-trash" label="Remover" title="Remover oportunidade" class="p-button-danger" type="button" (click)="remover(oportunidade.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-toast></p-toast>